extends layout

block content
    div.container
        div.rows
            div.col-md-6.col-md-6-offset
                h1 latest responses
                - for (var i=0; i<=10; i++)
                    li= i

    script(src='javascripts/jquery-3.3.1.min.js')
    script(src='javascripts/helpers.js')