extends layout

block content
    div.container
        div.row
            div.col-md-6
                div.btn-group
                    a(href="/create-response").btn.btn-outline-primary Create new response
                    a(href="#").btn.btn-outline-primary List my responses
                    a(href="#").btn.btn-outline-primary Edit my profile
    
        hr
    
        div.row
            div.col-md-6
                h1 New users
                div.list-group
                    if typeof newMembers != "undefined"
                        each member in newMembers
                            a(href=`/u/${member.username}`).list-group-item.list-group-item-action=member.username
                 
            div.col-md-6
                h1 New videos
                ul.list-group
                    if typeof newVideos != "undefined"
                        each video in newVideos
                            a(href=`/v/${video.id}`).list-group-item.list-group-item-action=video.title
