doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.1.0/css/all.css", integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt", crossorigin="anonymous")
        script(src='/javascripts/jquery-3.3.1.min.js')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-BLXVRMLMZJ');

    body
        div.container
            nav.navbar.navbar-expand-lg
                a.navbar-brand YTResponse
                div.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a(href="/").nav-link Home
                        if !(auth)
                            li.nav-item
                                a(href="/login").nav-link Log in
                            li.nav-item
                                a(href="/register").nav-link Register
                        if auth
                            li.nav-item
                                a(href="/logout").nav-link Log out
                            span.text-right Welcome back, #{auth.username}.
            
            block content
            
        script(src='/javascripts/helpers.js')