extends layout

block content
    .container
        .login-form
            form(method="POST" action="/login")
                h2.text-center Log the fuck in
                div.form-group
                    input.form-control(type="text", placeholder="Username", name="username", required="required")
                div.form-group
                    input.form-control(type="password", placeholder="Password", name="password", required="required")
                div.form-group
                    button.btn.btn-primary.btn-block(type="submit") Log in
                div.clearfix
                    //label.pull-left.checkbox-inline
                    //    input(type="checkbox")
                    //span Remember me
                    //a.pull-right(href="/forgot-password") Forgot Password?
            p.text-center
                a(href="/register") Create an account
