extends layout

block content
    .fluid-container

        .login-form
            form(method="POST" action="/register")
                h2.text-center WE WANT YOU!
                div.form-group
                    input.form-control(type="text", placeholder="Username", name="username", required="required")
                div.form-group
                    input.form-control(type="password", placeholder="Password", name="password", required="required")
                div.form-group
                    input.form-control(type="password", placeholder="Password", name="password", required="required")
                div.form-group
                    input.form-control(type="email", placeholder="Email", name="email", required="required")
                div.form-group
                    button.btn.btn-primary.btn-block(type="submit") Sign up
            p.text-center
                a(href="/login") Already registered? Log in
